h2{
    color: #9000ff;
    font-size: 54px;
}

p{
    color:#0d0303;
    font-size: 28px;
font-family: "Playwrite BE WAL Guides", Arial, Helvetica, sans-serif;
}

.first{
    color: #7272dd;
    font-weight:600
}

a {
    text-decoration: none;
}

